/* bold navigation bar text */
.nav a {
	font-weight: bold;
	font-size: 13pt;
}

/* bold text of active tab */
.pages .nav-tabs>li.active>a {
	font-weight: bold !important;
}

/* add box around each step in recipe */
.padded-panel {
    padding: 15px;
    position: relative;
}

/* create square tab */
.tabset-square>.nav-pills>li>a,
.tabset-square>.panel>.nav-pills>li>a {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
    border: 0.5px solid white;
    border-left: 0px;
    border-right: 0px;
}

/* create circl tab */
.tabset-circle>.nav-pills>li>a,
.tabset-circle>.panel>.nav-pills>li>a {
    border-radius: 50%;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
}